<section class="social_connect" id="contact">
  <div class="text-content container"> 
      <div class="col-md-6">
          <span class="social_heading">FOLLOW</span>
          <ul class="social_icons">
              <li><a class="icon-twitter color_animation" target="_blank"></a></li>
              <li><a class="icon-github color_animation" target="_blank"></a></li>
              <li><a class="icon-linkedin color_animation" target="_blank"></a></li>
              <li><a class="icon-mail color_animation"></a></li>
          </ul>
      </div>
      <div class="col-md-4">
          <span class="social_heading">OR DIAL</span>
          <span class="social_info"><a class="color_animation">+1 773-274-8600</a></span>
      </div>
  </div>
</section>

<!-- ============ Contact Section  ============= -->

<section id="contact">
  <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8095.8031365118295!2d-87.68881616700143!3d41.99726890964113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82e05db3496a6860!2sKhan+Barbeque+Restaurant!5e0!3m2!1sen!2s!4v1505848729128" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>