<section id="featured" class="description_content">
  <div  class="featured background_content">
      <h1>Our Featured Dishes <span>Menu</span></h1>
  </div>
  <div class="text-content container"> 
      <div class="col-md-6">
          <h1>Have a look to our dishes!</h1>
          <div class="icon-hotdog fa-2x"></div>
          <p class="desc-text">Each food is handmade at the crack of dawn, using only the simplest of ingredients to bring out smells and flavors that beckon the whole block. Stop by anytime and experience simplicity at its finest.</p>
      </div>
      <div class="col-md-6">
          <ul class="image_box_story2">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                      <div class="item" *ngFor="let product of featured; let i = index;"
                        [class.active] = "i == 0"
                      >
                          <img [src]="product.imageUrl">
                          <div class="carousel-caption">
                          </div>
                      </div>
                  </div>
              </div>
          </ul>
      </div>
  </div>
</section>